<!DOCTYPE html>
<html lang="de" ng-app="lunchApp">
	<head>
		<meta charset="utf-8">

    <!-- disable Internet Explorer compatibility mode -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
    <!-- set viewport (for Google and Apple devices) -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1">

    <!-- favicon -->
    <link rel="shortcut icon"
          href="img/favicon.ico"
          type="image/x-icon">

    <!-- Google-specific tags -->
    <!-- web application runs in full-screen mode: -->
    <meta name="mobile-web-app-capable"
          content="yes">
    <!-- icon -->
    <link rel="icon"
          sizes="196x196"
          href="icon-196x196.png">

    <!-- Apple-specific tags for Safari on iOS -->
    <!-- web application runs in full-screen mode: -->
    <meta name="apple-mobile-web-app-capable"
          content="yes">
    <!-- keep black status bar above the full-screen app -->
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black">
    <!-- set the title of the app used on the home screen -->
    <meta name="apple-mobile-web-app-title"
          content="HL-lunch">
    <!-- disable phone number detection. -->
    <meta name="format-detection"
          content="telephone=no">

    <!-- iOS 6 iPhone icon -->
    <link href="img/apple-touch-icon-57x57.png"
          sizes="57x57"
          rel="apple-touch-icon">
    <!-- iOS 6 iPhone (retina) icon-->
    <link href="img/apple-touch-icon-114x114.png"
          sizes="114x114"
          rel="apple-touch-icon">
    <!-- iOS 7 iPhone (retina) icon-->
    <link href="img/apple-touch-icon-120x120.png"
          sizes="120x120"
          rel="apple-touch-icon">

    <!-- iOS 6 iPad icon-->
    <link href="img/apple-touch-icon-72x72.png"
          sizes="72x72"
          rel="apple-touch-icon">
    <!-- iOS 6 iPad (retina) icon-->
    <link href="img/apple-touch-icon-144x144.png"
          sizes="144x144"
          rel="apple-touch-icon">
    <!-- iOS 7 iPad icon-->
    <link href="img/apple-touch-icon-76x76.png"
          sizes="76x76"
          rel="apple-touch-icon">
    <!-- iOS 7 iPad (retina) icon-->
    <link href="img/apple-touch-icon-152x152.png"
          sizes="152x152"
          rel="apple-touch-icon">

    <!-- iPhone 3.5" splash screen-->
    <link href="img/apple-touch-startup-image-320x460.png"
          media="(device-width: 320px) and
                (-webkit-min-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">
    <!-- iPhone 3.5" (retina) splash screen-->
    <link href="img/apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and
                 (device-height: 480px) and
                 (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPhone 4" (retina) splash screen-->
    <link href="img/apple-touch-startup-image-640x1096.png"
          media="(device-width: 320px) and
                 (device-height: 568px) and
                 (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPad (portrait) splash screen-->
    <link href="img/apple-touch-startup-image-768x1004.png"
          media="(device-width: 768px) and
                 (orientation: portrait)"
          rel="apple-touch-startup-image">
    <!-- iPad (landscape) splash screen-->
    <link href="img/apple-touch-startup-image-1024x748.png"
          media="(device-width: 768px) and
                 (orientation: landscape)"
          rel="apple-touch-startup-image">
    <!-- iPad (retina, portrait) splash screen-->
    <link href="img/apple-touch-startup-image-1536x2008.png"
          media="(device-width: 768px) and
                 (orientation: portrait) and
                 (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPad (retina, landscape) splash screen-->
    <link href="img/apple-touch-startup-image-2048x1496.png"
          media="(device-width: 768px) and
                 (orientation: landscape) and
                 (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

		<title>HL-lunch</title>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">		
		
		<script src="lib/jquery/jquery-2.1.0.min.js"></script>
		
		<script src="lib/angular/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>
		
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<!-- Navigationbar showing locations and website title -->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">HL-lunch</span>
				</div>
				<div class="collapse navbar-collapse" ng-controller="DataCtrl">
					<ul class="nav navbar-nav">
						<li ng-repeat="canteen in canteens"
							ng-class="{ 'active': $index === selectedCanteen }">
							<a href="" ng-click="canteenClicked($index)">{{canteen}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div> <!-- end of navbar -->
		
		<!-- Content container, showing either table of week or list of single day -->
		<div class="container">
			
			<!-- MobileView shows list of single day -->
			<div id="mobileView" class="visible-xs visible-sm" ng-controller="MobileViewCtrl">
				<p class="text-center h3">
					{{ weekdays[day] }}
				</p>
				
				<div class="list-group">
					<div class="row list-group-item" ng-repeat="meal in days[day]">
						<div class="col-xs-4">{{meals[meal.id].text}} 
							<p class="small" ng-if="meal.price.length > 1">{{meal.price}} &euro;</p>
						</div>
						<div class="col-xs-8">
							<span ng-repeat="line in meal.text track by $index">
								{{line}} <br />
							</span>
						</div>
					</div>
				</div>
			</div> <!-- end of mobileView -->
			
			<!-- DesktopView shows the whole week in a table -->
			<div id="desktopView" class="visible-md visible-lg" ng-controller="DesktopViewCtrl">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th></th>
								<th ng-repeat="day in weekdays" ng-class="{info: $index==currentDay}">{{day}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="meal in meals">
								<td>{{meal.text}}</td>
								<td ng-repeat="day in days" ng-class="{info: $index==currentDay}">
									<span ng-repeat="line in day[meal.id].text track by $index">
										{{line}} <br/>
									</span>
									<p class="small text-right" ng-if="day[meal.id].price.length > 1">
										{{day[meal.id].price}} &euro;
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> <!-- end of desktopView -->
		</div> <!-- end of contentContainer -->
		
		<!-- Footer shows navigation buttons to navigate between weeks/days -->
		<div id="footer">
			
			<!-- mobileCtrl navigates between days -->
			<div id="mobileCtrl" class="btn-group btn-group-justified visible-xs visible-sm">
				<a class="btn btn-primary btn-lg" href="" role="button" ng-click="previousDay()">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="btn btn-primary btn-lg" href="" role="button" ng-click="showToday()">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				<a class="btn btn-primary btn-lg" href="" role="button" ng-click="nextDay()">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div> <!-- end of mobileCtrl -->
		</div> <!-- end of footer -->
		
		<!-- Add JavaScript required by bootstrap -->
		<script src="lib/jquery/jquery-2.1.0.min.js"></script>
		<script src="lib/bootstrap/bootstrap.min.js"></script>
	</body>
</html>
